<div *ngIf="!heroe; else divHeroe">
    <mat-spinner>
    </mat-spinner>
</div>

<ng-template #divHeroe>
    <mat-card style="margin-top: 20px;">
        <mat-card-header>
            <mat-card-title>{{heroe.superhero}}</mat-card-title>
            <mat-card-subtitle>{{heroe.alter_ego}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="heroe|imagenPipe">
        <mat-card-content>
            <h3>{{ heroe.publisher }}</h3>
            <p>
                <strong>Primera aparicion: </strong>{{ heroe.first_appearance }}
                <br>
                <strong>Personaje: </strong>{{ heroe.characters }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <span style="flex: 1 1 auto;"></span>
            <button mat-raised-button color="warn"
                    style="margin-bottom: 3px; margin-left: 5px;"
                    [routerLink]="['/heroes/heroe',heroe.id]">
                Leer mas ...
            </button>
            <button mat-raised-button color="primary"
                    style="margin-left: 5px;"
                    [routerLink]="['/heroes/editar',heroe.id]">
                Editar
            </button>
        </mat-card-actions>
    </mat-card>
</ng-template>
